body{
    background-color: beige;
}

img{
    width: 20%;
}
/*
.imagem-cerebro{
    padding: 15% 0% 15% 20%;
}

.text-inicio{
    padding: 35% 20% 15% 0%;
}
*/

.section-inicio{
    padding-top: 5%;
}

.carrossel-story{
    padding: 10% 15%;
}

.cardCarousel{
    padding: 8% 15% 5% 15%;
}

.img-fluid{
    width: 70%;
    padding: 3% 0%;
}

.card-text{
    padding: auto;
    text-align: center;
}

.home-img{
    width: 50%;
}

.butao{
    width: 3%;
}

.home-page-btn{
    padding: 2% 0% 0% 2%;
}